@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Teacher Homepage";
}
<a asp-action="AddProject">Add Project</a>
<a asp-action="EditProject">Edit Project</a>
<a asp-action="DeleteProject">Delete Project</a>