
@{
     ViewBag.Title = "Admin Homepage";
}

<h2>Admin Homepage</h2>
<p><a asp-action="CourseOverview">Courses</a></p>
<p><a asp-action="AddCourse">Add course</a></p>
<p><a asp-action="EditCourse">Edit course</a></p>
<p><a asp-action="PersonOverview">Persons</a></p>
<p><a asp-action="AddPerson">Add person</a></p>
<p><a asp-action="EditPerson">Edit person</a></p>




